body {
    background-image: url(../../data/shape_background.gif);
    margin: 0px;
    font-size: 14px;
    font-family: sans-serif, Verdana, Geneva, Georgia, Arial, Arial Black;
}

a:link {
    color: rgb(0, 43, 92);
}

a:visited {
    color: #3B7EA1;
}

a:hover {
    color: #FDB515;
    /* Cursor property */
    cursor: url("../../data/link_icon.png"), crosshair;
}

#header, #navbar ul, #footer, .side_right {
    background-color: #C4CED4;
    color: rgb(0, 43, 92);
    margin: 10px;
    border-radius: 5px;
}

.div_logo {
    margin: 0px 20px;
    padding: 0px;
    float: right;
    width: 140px;
    height: 140px;
    clear: right;
    border-color: silver;
    border-width: 2.5px;
    border-style: ridge;
    border-radius: 5px;
    vertical-align: middle;
}

#header {
    /* No input for width for liquid responsive website design */
    height: 90px;
    margin-right: 180px;
}

#navbar ul {
    height: 35px;
    padding: 5px;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
    margin-right: 180px;
}

#navbar ul li {
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    vertical-align: middle;
    padding: 5px 75px;
}

#navbar ul li a:hover {
    background: linear-gradient(60deg, rgba(0, 43, 92, 1.0), green, rgba(253, 181, 21, 0.70));
    color: white;
}

#footer {
    padding: 5px;
    height: 75px;
    /* Protects footer from left/right sidebars */
    clear: both;
    text-align: center;
    font-size: 90%;
}

#footer ul {
    list-style-type: none;
    text-align: cetner;
    margin: 15px;
    border-radius: 5px;
}

#footer ul li {
    display: inline;
}

#footer ul li a {
    text-decoration: none;
    vertical-align: middle;
    padding: 0.25em 2.5em;
}

#footer ul li a:hover {
    background: linear-gradient(60deg, rgba(0, 43, 92, 1.0), green, rgba(253, 181, 21, 0.70));
    color: white;
}

.main {
    background-color: #002B5C;
    /* 260 + 20 + 20 + 10 + 10 = 320 */
    margin-left: 10px;
    margin-right: 460px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.1em;
}

.space {
    line-height: 1.75em;
}

h0, h1, .main p, ol li {
    color: white;
}

h0 {
    font-size: 2.0em;
}

h1 {
    font-size: 130%;
}

h2 {
    color: #E31837;
}

h3 {
    letter-spacing: 5px;
    font-size: 3.0em;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header h3 em {
    font-size: 0.75em;
}

.side_right {
    margin-top: 0px;;
    padding: 20px;
    font-size: 105%;
    float: right;
    width: 400px;
    /* Allows sidebars to stack up in top-down design*/
    clear: right;
    opacity: 0.40;
    transition: opacity 0.5s ease-in-out;
}

.side_right:hover {
    opacity: 1.0;
    cursor: url("../../data/hourglass_icon.png"), crosshair;
}

.side_right p {
    color: rgb(0, 43, 92);
    font-size: 1.1em;
    font-weight: bold;
}

.side_img {
    /* 400 + 20 + 20 = 440 */
    width: 440px;
    float: right;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    clear: right;
}

.drag {
    cursor: move;
}

/* Media queries for displaying on 
devices with different resolutions. */
@media (max-width:1310px) {
    .side_right, .side_img {
        display: none;
    }

    .div_logo {
        float: left;
        margin-right: 20px;
        margin-left: 10px;
    }

    #header, #navbar ul{
        margin-left: 170px;
        margin-right: 10px;
    }
}

/* Create multiple media queries with range for screen width*/
@media (min-width: 401px) and (max-width:900px) {
    .main {
        background-color: #4E2A84;
    }
    h0, h1, .main p, ol li {
        color: goldenrod;
    }
}

/* Specify display for mobile devices*/
@media only screen and (max-width: 900px) {
    .main {
        background-color: #FDB927;
    }

    h0, h1, .main p, ol li {
        color: #552583;
    }
}